* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear {clear: both;}

.w50 {
    float: left;
    width: 50%;
    padding: 0 15px;
}


section.topo {
    background-image: linear-gradient(114deg, #250e8a, #00f9f7);
    padding: 40px;
    padding-bottom: 80px;
}

.logo {
    float: left;
}

.menu-desktop {
    float: right;
}

.menu-desktop li {
    display: inline-block;
    margin: 0 15px;
}

.menu-desktop a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

.menu-desktop a:hover {
    opacity: 1;
}

.time-descricao {
    margin-top: 50px;
    color: white;
}

.time-descricao h2 {
    font-size: 45px;
}

.time-descricao p {
    font-size: 14px;
    margin-top: 20px;
    max-width: 280px;
    line-height: 25px;
}

.time-descricao a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffca00;
    color: #1b49a5;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.time-imagem img {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .w50 {
        width: 100%;
    }
}